 

<ion-app>
 
  <ion-router-outlet ></ion-router-outlet>
</ion-app>


 <!--
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLinkActive="tab-selected" routerLink="/admin" class="ios" tab="admin">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>Uses List</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLinkActive="tab-selected" routerLink="/make" class="ios" tab="make">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Create</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>-->
