<ion-header>
  <ion-toolbar class="ios hydrated">
    <ion-title class="ios title-ios hydrated">Vin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLinkActive="tab-selected" routerLink="/admin" class="ios" tab="home">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>Vin List</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLinkActive="tab-selected" routerLink="/make" class="ios" tab="make">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Ajouter</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
	
  <ion-list lines="full">
    <form [formGroup]="form" (ngSubmit)="onFormSubmit()">
      <ion-item>
        <ion-label position="floating">bouche</ion-label>
        <ion-input formControlName="bouche" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">degres</ion-label>
        <ion-input formControlName="degres" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">marque</ion-label>
        <ion-input formControlName="marque" type="text" required>
        </ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">name</ion-label>
        <ion-input formControlName="name" type="text" required>
        </ion-input>
      </ion-item>
      
        <ion-item>
        <ion-label position="floating">origine</ion-label>
        <ion-input formControlName="origine" type="text" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">ref</ion-label>
        <ion-input formControlName="ref" type="text" required>
        </ion-input>
      </ion-item>

     

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Create</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>

  
</ion-content>
	
